body {
    background: #f8f9fa;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    margin-bottom: 20px;
}

.info h1 {
    color: #333;
    font-size: 3em; /* Ukuran teks diperbesar */
    margin-bottom: 30px;
}

.form {
    background: #ffffff;
    max-width: 450px; /* Lebar form diperbesar */
    padding: 40px; /* Padding diperbesar */
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.thumbnail img {
    width: 120px; /* Gambar diperbesar */
    border-radius: 50%;
    background: #6c63ff;
    padding: 30px;
    margin-bottom: 30px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 15px; /* Padding input diperbesar */
    margin: 15px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f4f4f4;
    font-size: 1.2em; /* Ukuran teks input diperbesar */
    box-sizing: border-box;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 15px; /* Padding tombol diperbesar */
    background: #6c63ff;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 1.2em; /* Ukuran teks tombol diperbesar */
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-form input[type="submit"]:hover {
    background: #574bdb;
}
