.table td:nth-child(3),
.table td:nth-child(4) {
    width: 200px;
    max-width: 150px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.table td:nth-child(5) {
    width: 200px;
    max-width: 100px;
    text-align: center;
}
.table img {
    width: 100px;
    height: auto;
    display: block;
    object-fit: contain;
    margin: 0 auto;
}