table {
    width: 100%;
    table-layout: auto; /* Membuat lebar kolom menyesuaikan dengan isi data */
    border-collapse: collapse;
}

/* Styling untuk header tabel */
thead {
    background-color: #343a40;
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #dee2e6;
}

/* Styling untuk kolom header */
th {
    font-weight: bold;
}

/* Menambahkan style untuk kolom tertentu agar tidak terlalu lebar */
th:nth-child(1), td:nth-child(1) {
    width: 3%; /* Lebar kolom untuk No Order */
}

th:nth-child(2), td:nth-child(2) {
    width: 7%; /* Lebar kolom untuk User */
}

th:nth-child(3), td:nth-child(3) {
    width: 15%; /* Lebar kolom untuk Nama Makanan */
}

th:nth-child(4), td:nth-child(4) {
    width: 3%; /* Lebar kolom untuk Jumlah */
}

th:nth-child(5), td:nth-child(5) {
    width: 10%; /* Lebar kolom untuk Total Harga */
}

th:nth-child(6), td:nth-child(6) {
    width: 25%; /* Lebar kolom untuk Alamat */
}

th:nth-child(7), td:nth-child(7) {
    width: 8%; /* Lebar kolom untuk Status */
}

th:nth-child(8), td:nth-child(8) {
    width: 10%; /* Lebar kolom untuk Waktu Pemesanan */
}

th:nth-child(9), td:nth-child(9) {
    width: 10%; /* Lebar kolom untuk Keterangan Jasa Antar */
}

th:nth-child(10), td:nth-child(10) {
    width: 8%; /* Lebar kolom untuk Action */
}