.indent-small {
    margin-left: 5px;
  }
  .form-group.internal {
    margin-bottom: 0;
  }
  .dialog-panel {
    margin: 10px;
  }
  .datepicker-dropdown {
    z-index: 200 !important;
  }
  .panel-body {
    background: #e5e5e5;
    background: radial-gradient(ellipse at center, #e5e5e5 0%, #ffffff 100%);
    font: 600 15px "Open Sans", Arial, sans-serif;
  }
  label.control-label {
    font-weight: 600;
    color: #777;
  }
  table { 
    width: 650px; 
    border-collapse: collapse; 
    margin: auto;
    margin-top:50px;
  }
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #004684; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 10px; 
    border: 1px solid #ccc; 
    text-align: left; 
    font-size: 14px;
  }